
#side-nav .nav-item.active:after {
    content: " ";
    width: 5px;
    height: 100%;
    position: absolute;
    background: #169976;
    left: 0;
    top: 0;
}
#side-nav .nav-item.active {
    background: #1DCD9F;
    color: #fff;
}
.container{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 20px;
}
h1{
    font-size: 36px;
    font-weight: bold;
}
h2, h3, h4, h5{
    font-size: 24px;
    font-weight: 600;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 16px;
}
p{
    font-size: 16px;
}

/* Toggle Login Register*/
.toggleActive{
    left: auto !important;
    right: 0 !important;
}