#page{
    background: #ffffff;
    background: linear-gradient(148deg, rgba(255, 255, 255, 1) 0%, rgba(247, 255, 252, 1) 50%, rgba(240, 253, 250, 1) 100%);
}
#welcomepage #container > div:last-child{
    background-image: url(/assets/img/pexels-artempodrez-5025503.webp);
    background-position: center;
    background-size: cover;
}
#side-nav .nav-item.active:after {
    content: " ";
    width: 2px;
    height: 100%;
    position: absolute;
    background: #000;
    left: 0;
    top: 0;
}
#side-nav .nav-item.active{
    background: #cbfbf1;
}
